<h1>List of Workouts</h1>

<% @session.each do |s| %>
    <div class="tracker-item" data-id="<%= s.id %>">
            <p class="editable-field" data-attribute="weight" data-remote="true"><%= s.workout %></p>
    </div>
    <% @track.each do |t| %>
    <div class="workoutcard">
      <div class="tracker-item" data-id="<%= t.id %>">
          <div class="numbers">
            <div class="weightfield">
              <p class="editable-field" data-attribute="weight" data-remote="true"><%= t.weight %> KG</p>
            </div>
            <div class="repsfield">
              <p class="editable-field" data-attribute="reps" data-remote="true"><%= t.reps %> Reps</p>
            </div>
            <div class="setsfield">
              <p class "editable-field" data-attribute="sets" data-remote="true"><%= t.sets %> Sets</p>
            </div>
          </div>
      </div>
    </div>
  <% end %>
<% end %>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.editable-field').click(function () {
      $(this).attr('contenteditable', 'true');
    });

    $('.editable-field').blur(function () {
      $(this).removeAttr('contenteditable');
      const attribute = $(this).data('attribute');
      const value = $(this).text();
      const id = $(this).closest('.tracker-item').data('id');

      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      $.ajax({
        type: 'PATCH',
        url: `/trackers/${id}`,
        data: {
          tracker: {
            [attribute]: value
          }
        },
        headers: {
          'X-CSRF-Token': csrfToken
        },
        success: function (response) {
        },
        error: function (error) {
        }
      });
    });
  });
</script>
