<div class="title">
  <h1>Workouts</h1>
</div>

<div class="description">
  <p>Click the Dumbbell to add a new session. Double click the 'KG' or 'Set' to amend</p>
</div>

<div id="popup" class="popup">
  <div id="popcont" class="popcont">
    <div id="newSessionPopup" style="display: none;">
      <h2>Create New Session</h2>
      <%= form_with(model: Session.new, id: 'newSessionForm', local: true, url: sessions_path) do |form| %>
        <%= form.label :workout %>
        <%= form.select :workout, options_for_select([
          ['Bench Press', 'bench_press'],
          ['Straight Bar Curl', 'straight_bar_curl'],
          ['Hammer Curls', 'hammer_curls'],
        ]), {}, { id: 'workout-select' } %>
        <%= form.submit 'Create' %>
      <% end %>
    </div>
  </div>
</div>


<% @session.reverse.each do |s| %>
  <div class="shadow">
    <div class="main-card" data-card-id="<%= s.id %>">
      <div class="tracker" data-id="<%= s.id %>">
        <div class="session-div">
          <div class="workout-details">
            <p class="editable-field" data-attribute="weight" data-remote="true"><%= s.workout %> - <%= s.created_at.strftime('%B %e, %l:%M %p') %></p>
          </div>
          <% if s.created_at.to_date == Date.today %>
            <div class="plus-sign">
              <a href="/trackers/new?session_id=<%= s.id %>" class="add-set-link plus-icon"><i class="fas fa-plus"> Set</i></a>
            </div>
          <% end %>
        </div>
      </div>
  </div>

  <% matching_trackers = @track.select { |t| t.session_id == s.id } %>
  <% total_weight = 0 %>
  <% total_reps = 0 %>
  <% counter = 1 %>

  <% matching_trackers.each do |t| %>
    <div class="workoutcard" data-card-id="<%= s.id %>">
      <div class="tracker-item" data-id="<%= t.id %>">
        <div class="numbers">
          <div class="counter">
            <p><%= counter %> </p>
          </div>
          <div class="weightfield">
            <p class="editable-field" data-attribute="weight" data-remote="true" ><%= t.weight %> </p><span> KG</span>
          </div>
          <div class="repsfield">
            <p class="editable-field" data-attribute="reps" data-remote="true" draggable="true"><%= t.reps %> </p><span> Reps</span>
          </div>
          <div class="repsfield">
            <p> <i class="fas fa-ellipsis-v"></i> </p>
          </div>
        </div>
      </div>
    </div>

    <% total_weight += t.weight.to_i %>
    <% total_reps += t.reps.to_i %>
    <% counter += 1 %>

  <% end %>
    <div class="total">
      <div class="total-card">
        <p>Total Weight:</p>
        <p><%= total_weight %> KG</p>
      </div>
      <div class="total-card">
        <p>Total Reps:</p>
        <p><%= total_reps %> Reps</p>
      </div>
      <div class="total-card">
        <p>Average Weight:</p>
        <p><%= matching_trackers.empty? ? 0 : total_weight / matching_trackers.size %> KG</p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
<% end %>


<script>
  $(document).ready(function () {
    $('#workout-select').select2();
  });
</script>


<script>
  $(document).ready(function () {
    $('.main-card').click(function () {
      const cardId = $(this).data('card-id');
      $('.workoutcard[data-card-id="' + cardId + '"]').toggleClass('hidden');
    });
  });
</script>

<script>
  $(document).ready(function () {

    $('.editable-field').click(function () {
      $(this).attr('contenteditable', 'true');
    });

    $('.editable-field').blur(function () {
      $(this).removeAttr('contenteditable');
      const attribute = $(this).data('attribute');
      const value = $(this).text();
      const id = $(this).closest('.tracker-item').data('id');

      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      $.ajax({
        type: 'PATCH',
        url: `/trackers/${id}`,
        data: {
          tracker: {
            [attribute]: value
          }
        },
        headers: {
          'X-CSRF-Token': csrfToken
        },
        success: function (response) {
          location.reload();
        },
        error: function (error) {
        }
      });
    });
  });
</script>

<script>
  $(document).ready(function () {
    $('#createNewSessionButton').click(function (e) {
      e.preventDefault();
      $('#newSessionPopup').show();
      $('#popup').show();
    });

    $('#newSessionForm').submit(function (e) {
      e.preventDefault();
      $('#newSessionPopup').hide();

      $.ajax({
        type: 'POST',
        url: $('#newSessionForm').attr('action'),
        data: $('#newSessionForm').serialize(),
        success: function (response) {

          location.reload();
        },
        error: function (error) {

        }
      });
    });
  });
</script>
