<div class="title">
  <h1>Workouts</h1>
</div>

<div class="description">
  <p>Click the Dumbbell to add a new session. Double click the 'KG' or 'Set' to amend</p>
</div>

<div id="popup" class="popup">
  <div id="popcont" class="popcont">
    <div id="newSessionPopup" style="display: none;">
      <h2>Create New Session</h2>
      <%= form_with(model: Session.new, id: 'newSessionForm', local: true, url: sessions_path) do |form| %>
        <%= form.label :workout %>
        <%= form.select :workout, options_for_select([
          ['Bench Press', 'bench_press'],
          ['Straight Bar Curl', 'straight_bar_curl'],
          ['Hammer Curls', 'hammer_curls'],
          ['Squats', 'squats'],
          ['Deadlifts', 'deadlifts'],
          ['Leg Press', 'leg_press'],
          ['Pull-Ups', 'pull_ups'],
          ['Push-Ups', 'push_ups'],
          ['Lat Pulldown', 'lat_pulldown'],
          ['Shoulder Press', 'shoulder_press'],
          ['Chest Fly', 'chest_fly'],
          ['Planks', 'planks'],
          ['Leg Raises', 'leg_raises'],
          ['Russian Twists', 'russian_twists'],
          ['Burpees', 'burpees'],
          ['Box Jumps', 'box_jumps'],
          ['Sprints', 'sprints'],
          ['Bicycle Crunches', 'bicycle_crunches'],
          ['Lunges', 'lunges'],
          ['Tricep Dips', 'tricep_dips'],
          ['Hanging Leg Raises', 'hanging_leg_raises'],
          ['Kettlebell Swings', 'kettlebell_swings'],
          ['Mountain Climbers', 'mountain_climbers'],
          ['Incline Bench Press', 'incline_bench_press'],
          ['Cable Rows', 'cable_rows'],
          ['Lateral Raises', 'lateral_raises'],
          ['Romanian Deadlifts', 'romanian_deadlifts'],
          ['Seated Leg Curl', 'seated_leg_curl'],
          ['Battle Ropes', 'battle_ropes'],
          ['Bicep Curls', 'bicep_curls'],
          ['Hyperextensions', 'hyperextensions'],
          ['Calf Raises', 'calf_raises'],
          ['Barbell Rows', 'barbell_rows'],
          ['Side Planks', 'side_planks'],
          ['Plyometric Exercises', 'plyometric_exercises'],
          ['Sled Push/Pull', 'sled_push_pull'],
          ['Hindu Push-Ups', 'hindu_push_ups'],
          ['Rowing Machine', 'rowing_machine'],
          ['Boxing Training', 'boxing_training'],
          ['Agility Ladder Drills', 'agility_ladder_drills'],
          ['Sandbag Training', 'sandbag_training'],
          ['Climbing Wall', 'climbing_wall'],
          ['BOSU Ball Workouts', 'bosu_ball_workouts'],
          ['Tire Flips', 'tire_flips'],
          ['Parkour Training', 'parkour_training'],
          ['Crossfit WODs', 'crossfit_wods'],
          ['Yoga Asanas', 'yoga_asanas'],
          ['Pilates Reformer', 'pilates_reformer'],
          ['Aerial Silks', 'aerial_silks'],
          ['Pole Dancing Fitness', 'pole_dancing_fitness'],
          ['Yin Yoga', 'yin_yoga'],
          ['Aqua Zumba', 'aqua_zumba'],
          ['Aqua Cycling', 'aqua_cycling'],
          ['Handstand Push-Ups', 'handstand_push_ups'],
          ['Ziplining Adventure', 'ziplining_adventure'],
          ['Surfing Lessons', 'surfing_lessons'],
          ['Hiking Trails', 'hiking_trails'],
          ['Indoor Rock Climbing', 'indoor_rock_climbing'],
          ['Obstacle Course Racing', 'obstacle_course_racing'],
          ['Bodyweight Exercises', 'bodyweight_exercises'],
          ['Dumbbell Rows', 'dumbbell_rows'],
          ['Leg Extensions', 'leg_extensions'],
          ['Jumping Jacks', 'jumping_jacks'],
          ['Swiss Ball Exercises', 'swiss_ball_exercises'],
          ['Sled Drags', 'sled_drags'],
          ['Barbell Shrugs', 'barbell_shrugs'],
          ['Sprint Intervals', 'sprint_intervals'],
          ['Battle Ropes Waves', 'battle_ropes_waves'],
          ['Pilates Mat Work', 'pilates_mat_work'],
          ['TRX Suspension Workouts', 'trx_suspension_workouts'],
          ['Boxing Mitt Work', 'boxing_mitt_work'],
          ['Zumba Toning', 'zumba_toning'],
          ['Aerial Hoop (Lyra)', 'aerial_hoop_lyra'],
          ['Tai Chi Chuan', 'tai_chi_chuan'],
          ['Foam Rolling Techniques', 'foam_rolling_techniques'],
          ['Slacklining', 'slacklining'],
          ['Water Aerobics', 'water_aerobics'],
          ['High-Intensity Spin Classes', 'high_intensity_spin_classes'],
          ['Synchronized Swimming', 'synchronized_swimming'],
          ['Body Combat Classes', 'body_combat_classes'],
          ['Hula Hooping', 'hula_hooping'],
          ['Kick Scooter Workouts', 'kick_scooter_workouts'],
          ['Synchronized Rowing', 'synchronized_rowing'],
          ['Kendo (Japanese Swordsmanship)', 'kendo'],
          ['Fencing', 'fencing'],
          ['Paddleboarding', 'paddleboarding'],
          ['Kiteboarding', 'kiteboarding'],
          ['Trapeze Flying', 'trapeze_flying'],
          ['Plyometric Box Jumps', 'plyometric_box_jumps'],
          ['Piloxing (Pilates + Boxing)', 'piloxing'],
          ['Aqua Pole Dance', 'aqua_pole_dance'],
          ['Aquatic Therapy', 'aquatic_therapy'],
          ['Wall Ball Exercises', 'wall_ball_exercises'],
          ['Yoga Wheel Poses', 'yoga_wheel_poses'],
          ['Indoor Skydiving', 'indoor_skydiving'],
          ['Bungee Fitness', 'bungee_fitness'],
          ['Synchronized Yoga', 'synchronized_yoga'],
          ['Wheelchair Fitness', 'wheelchair_fitness'],
          ['Adaptive Rowing', 'adaptive_rowing'],
          ['Virtual Reality Workouts', 'virtual_reality_workouts'],
          ['Prancercise', 'prancercise'],
          ['Nordic Walking', 'nordic_walking'],
          ['Shbam Dance Fitness', 'shbam_dance_fitness'],
          ['Cup Stacking', 'cup_stacking'],
          ['Bollywood Dance Workouts', 'bollywood_dance_workouts'],
          ['Medicine Ball Slams', 'medicine_ball_slams'],
          ['Slackline Yoga', 'slackline_yoga'],
          ['Unicycling', 'unicycling'],
          ['Breakdancing', 'breakdancing'],
          ['Belly Dancing', 'belly_dancing'],
          ['Powerlifting', 'powerlifting'],
          ['Parkour Freerunning', 'parkour_freerunning'],
          ['Aerial Straps', 'aerial_straps'],
          ['Ninja Warrior Obstacle Training', 'ninja_warrior_training'],
          ['Parkour Gyms', 'parkour_gyms'],
          ['Urban Calisthenics', 'urban_calisthenics'],
          ['Juggling for Fitness', 'juggling_for_fitness'],
          ['Rhythmic Gymnastics', 'rhythmic_gymnastics'],
          ['Bokwa Fitness', 'bokwa_fitness'],
          ['Fitness Trampolining', 'fitness_trampolining'],
          ['Street Workout (Calisthenics)', 'street_workout'],
          ['Kangoo Jumps Workouts', 'kangoo_jumps'],
          ['Primal Movement Workouts', 'primal_movement'],
        ]), {}, { id: 'workout-select' } %>
        <%= form.submit 'Create' %>
      <% end %>
    </div>
  </div>
</div>


<% @session.reverse.each do |s| %>
  <div class="shadow">
    <div class="main-card" data-card-id="<%= s.id %>">
      <div class="tracker" data-id="<%= s.id %>">
        <div class="session-div">
          <div class="workout-details">
            <p class="editable-field" data-attribute="weight" data-remote="true"><%= s.workout %> - <%= s.created_at.strftime('%B %e, %l:%M %p') %></p>
          </div>
          <% if s.created_at.to_date == Date.today %>
            <div class="plus-sign">
              <a href="/trackers/new?session_id=<%= s.id %>" class="add-set-link plus-icon"><i class="fas fa-plus"> Set</i></a>
            </div>
          <% end %>
        </div>
      </div>
  </div>

  <% matching_trackers = @track.select { |t| t.session_id == s.id } %>
  <% total_weight = 0 %>
  <% total_reps = 0 %>
  <% counter = 1 %>

  <% matching_trackers.each do |t| %>
    <div class="workoutcard" data-card-id="<%= s.id %>">
      <div class="tracker-item" data-id="<%= t.id %>">
        <div class="numbers">
          <div class="counter">
            <p><%= counter %> </p>
          </div>
          <div class="weightfield">
            <p class="editable-field" data-attribute="weight" data-remote="true" ><%= t.weight %> </p><span> KG</span>
          </div>
          <div class="repsfield">
            <p class="editable-field" data-attribute="reps" data-remote="true" draggable="true"><%= t.reps %> </p><span> Reps/Mins</span>
          </div>
          <div class="repsfield">
            <p> <i class="fas fa-ellipsis-v"></i> </p>
          </div>
        </div>
      </div>
    </div>

    <% total_weight += t.weight.to_i %>
    <% total_reps += t.reps.to_i %>
    <% counter += 1 %>

  <% end %>
    <div class="total">
      <div class="total-card">
        <p>Total Weight:</p>
        <p><%= total_weight %> KG</p>
      </div>
      <div class="total-card">
        <p>Total Reps:</p>
        <p><%= total_reps %> Reps</p>
      </div>
      <div class="total-card">
        <p>Average Weight:</p>
        <p><%= matching_trackers.empty? ? 0 : total_weight / matching_trackers.size %> KG</p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
<% end %>


<script>
  $(document).ready(function () {
    $('#workout-select').select2();
  });
</script>


<script>
  $(document).ready(function () {
    $('.main-card').click(function () {
      const cardId = $(this).data('card-id');
      $('.workoutcard[data-card-id="' + cardId + '"]').toggleClass('hidden');
    });
  });
</script>

<script>
  $(document).ready(function () {

    $('.editable-field').click(function () {
      $(this).attr('contenteditable', 'true');
    });

    $('.editable-field').blur(function () {
      $(this).removeAttr('contenteditable');
      const attribute = $(this).data('attribute');
      const value = $(this).text();
      const id = $(this).closest('.tracker-item').data('id');

      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      $.ajax({
        type: 'PATCH',
        url: `/trackers/${id}`,
        data: {
          tracker: {
            [attribute]: value
          }
        },
        headers: {
          'X-CSRF-Token': csrfToken
        },
        success: function (response) {
          location.reload();
        },
        error: function (error) {
        }
      });
    });
  });
</script>

<script>
  $(document).ready(function () {
    $('#createNewSessionButton').click(function (e) {
      e.preventDefault();
      $('#newSessionPopup').show();
      $('#popup').show();
    });

    $('#newSessionForm').submit(function (e) {
      e.preventDefault();
      $('#newSessionPopup').hide();

      $.ajax({
        type: 'POST',
        url: $('#newSessionForm').attr('action'),
        data: $('#newSessionForm').serialize(),
        success: function (response) {

          location.reload();
        },
        error: function (error) {

        }
      });
    });
  });
</script>
